* {
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 80px;
    font-family: 'Asap', sans-serif;
    background-image: linear-gradient( 109.9deg,  rgb(218, 163, 87) 1.8%, rgb(216, 176, 120) 95.4% );
    
}

.header {
    background: #333;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    -webkit-box-shadow: 0px 1.5px 15px 0px #333;
    -moz-box-shadow:    0px 1.5px 15px 0px #333;
    box-shadow:         0px 1.5px 15px 0px #333;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-menu-link {
    color: #fff;
    text-decoration: none;
}

.nav-menu-link:hover {
    color: #EF8F00;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    line-height: 80px;
    padding: 0px 40px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item {
    font-size: 18px;
    margin: 0px 20px;
    line-height: 80px;
    width: max-content;
}

.nav-toggle {
    color: #fff;
    background: none;
    border: none;
    font-size: 30px;
    line-height: 80px;
    padding: 0px 20px;
    display: none;
    cursor: pointer;
}

/* ----------------------------------------------------------------------- */

.cont-col {
    width: 100%;
    height: auto;
    background: rgba(15,51,92,1);
}

.img-col {
    height: 110px;
    width: auto;
    padding: 45px;
    border-radius: 50px;
    backdrop-filter: blur(15px);
    background-color: rgba(243, 243, 243, 0.2);
    transition-duration: .3s;
    position: relative;
}

/* ----------------------*/
 
.cont-tiempo {
    display: flex;
    justify-content: space-around;
}

.calendario {
    height: 130px;
    margin: 25px 0px;
    margin-left: 300px;
    animation-name: calendario;
    animation-duration: 1s;
    animation-delay: 0.3s;
}

.reloj {
    height: 130px;
    margin: 25px 0px;
    margin-right: 300px;
    animation-name: reloj;
    animation-duration: 1s;
    animation-delay: 0.3s;
}

/* ----------------------*/

.cont-mesa {
    display: flex;
    justify-content: space-evenly;
}

.pc {
    height: 300px;
    margin-bottom: 25px;
    animation-name: pc;
    animation-duration: 2s;
    animation-delay: 1.4s;
}

.lapiz {
    margin-top: 150px;
    animation-name: lapiz;
    animation-duration: 1s;
    animation-delay: 2s;
}

.calc {
    animation-name: calc;
    animation-duration: 1s;
    animation-delay: 2s;
}


.cafe {
    margin-top: 150px;
    animation-name: cafe;
    animation-duration: 1s;
    animation-delay: 2s;
}

.libros {
    animation-name: libros;
    animation-duration: 1s;
    animation-delay: 2s;
}


/* ---------ANIMATION-------------*/

@keyframes pc {
    0% {bottom: 0px;}
    50% {background: #699F66; bottom: 250px;}
    75% {background: #699F66; bottom: 250px;}
    100% {bottom: 0px;}
}

@keyframes calc {
    0% {top: 0px; left: 0px;}
    25% {top: 150px; left: 0px;}
    50% {background: #667D9F; top: 150px; left: 400px;}
    75% {top: 150px; left: 0px;}
    100% {top: 0px; left: 0px;}
}

@keyframes lapiz {
    0% {top: 0px; left: 0px;}
    50% {background: #9F9B66; top: 0px; left: 350px;}
    100% {top: 0px; left: 0px;}
}

@keyframes cafe {
    0% {top: 0px; right: 0px;}
    50% {background: #9F8E66; top: 0px; right: 350px;}
    100% {top: 0px; right: 0px;}
}

@keyframes libros {
    0% {top: 0px; right: 0px;}
    25% {top: 150px; right: 0px;}
    50% {background: #9F669C; top: 150px; right: 400px;}
    75% {top: 150px; right: 0px;}
    100% {top: 0px; right: 0px;}
}

@keyframes calendario  {
    0% {left: 0px;}
    50% {background: #9F6666; left: 350px;}
    100% {left: 0px;}
}

@keyframes reloj {
    0% {right: 0px;}
    50% {background: #9F6666; right: 350px;}
    100% {right: 0px;}
}



/* ---------HOVER-------------*/

.pc:hover {
    background: #699F66;
}

.lapiz:hover {
    background: #9F9B66;
}

.cafe:hover {
    background: #9F8E66;
}

.libros:hover {
    background: #9F669C;
}

.reloj:hover, .calendario:hover {
    background: #9F6666;
}

.calc:hover {
    background: #667D9F;
}


/* ----------------------------------------------------------------------- */

.h1, .h2, .h3 {
    width: 100%;
    font-size: 55px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgba(15,51,92,1);
    cursor: default;
    animation-name: titulo;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes titulo {
    0% {color :rgba(15,51,92,1);}
    100% {color: #fff; text-shadow: 3px 3px 0px rgb(218, 163, 87);}
}

/* ----------------------------------------------------------------------- */


.linea {
    width: 70%;
    height: 1px;
    display: block;
    margin: 103px auto;
}

.linea-2 {
    width: 30%;
    height: 1px;
    display: block;
    margin: 100px auto;
}

/* ----------------------------------------------------------------------- */

.cont-sobre-mi {
    width: 50%;
    height: auto;
    background: #eee;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 10px 10px 0px 0px #a5a5a5;
    -moz-box-shadow: 5px 5px 0px 0px #a5a5a5;
    box-shadow: 10px 10px 0px 0px #a5a5a5;
}

.subt {
    font-size: 25px;
    padding: 15px 0px 0px 15px;
}


.text-sobre-mi {
    font-size: 18px;
    padding: 20px;
    text-align: justify;
}

/* ----------------------------------------------------------------------- */

.habilidades {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #D1D1D1;
    background-image: url(pe.png);
    background-size: cover;
    background-attachment: fixed;
}

.subt-2 {
    text-align: center;
    font-size: 25px;
    padding: 35px;
    color: rgb(0, 0, 0);
}

.cont-img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
}

.img-hab {
    width: 300px;
    height: auto;
    padding: 10px;
    margin: 35px 10px;
    backdrop-filter: blur(15px);
    background-color: rgba(243, 243, 243, 0.2);
    transition: .2s;
}

.img-hab:hover {
    backdrop-filter: blur(15px);
    background-color: #ffffff80;
}


/* ----------------------------------------------------------------------- */

.cont-proyectos{
     height: auto;
     width: 100%;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}

.proyectos-div {
    width: 300px;
    height: auto;
    padding: 10px;
    margin: 35px 10px;
    border-radius: 50px;
    transition: .3s;
    backdrop-filter: blur(15px);
    background-color: rgba(243, 243, 243, 0.2);
}

.tit-proy {
    margin: 15px;
    font-size: 20px;
    text-align: center;
}

.proyecto {
    margin: 15px;
    font-size: 18px;
    color: #000;
}

.p-proyecto {
    margin: 15px;
    text-align: justify;
}

/* ------------------------------- */

.proyectos-div:hover {
    background: #9F669C;
}


.proyecto:hover {
    color: #fff;
}

.form {
    width: 60%;
    height: auto;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 20px;
    background: #eee;
    -webkit-box-shadow: 10px 10px 0px 0px #a5a5a5;
    -moz-box-shadow: 5px 5px 0px 0px #a5a5a5;
    box-shadow: 10px 10px 0px 0px #a5a5a5;
}

.subt-3 {
    text-align: center;
    font-size: 25px;
    padding: 35px;
}

label {
    margin: 40px 0px 10px 0px;
}

input, textarea {
    width: 95%;
    height: 30px;
    resize: none;
    border: 0.5px solid #bbb;
    outline: none;
    font-family: 'Asap', sans-serif;
    background: #fff;
    font-size: 18px;
    padding: 10px;
}

textarea {
    height: 100px;    
}

#mail {
    font-size: 1px;
    opacity: 0;
}


.btn {background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)}

.btn {
    width: 150px;
    height: auto;
    padding: 10px;
    margin-top: 15px;
    font-size: 15px;
    font-family: 'Asap', sans-serif;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: none;
    cursor: pointer;
 }

 .btn:hover {
   background-position: right center;
   color: #fff;
 }

textarea:focus {
    border: 1px solid #FC8538;
}

input:focus {
    border: 1px solid #FC8538;
}

/* ----------------------------------------------------------------------- */

.fin {
    width: 100%;
    height: auto;
    background: #333;
    margin-top: 100px;
}

.img-final {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ig-gmail {
    width: 50px;
    height: auto;
    padding: 10px;
    transition: .5s;
}

#ig-gmail:hover {
    opacity: .7;
}

.texto-final{
    color: #fff;
    text-align: center;
    padding: 10px;
}
